
* {
    /* background: #6f6f6f; */
    font-family: Trebuchet MS;
   

}
.small img {
    width: 185px;
    height: 150px
}

.med img {
    width: 585px;
    height: 300px

}
.home {
    width: 1300px;
}
img {
    width: 400px;
}

.hrests {
 display: flex;
  flex-wrap: wrap;

}

.hrests .rests {
  flex: 1 0 25%;
  height: 15px;
  /* border: 1px solid black; */
  color: black
}

.navbar {
    text-align: center;
    /* display: flex; */
  /* flex-wrap: wrap; */
  background-color: black;
  color: white;
  
}

.navbarh{
    font-size: 40px;
    /* padding-top: 50px; */
}

.menui {
    width: 775px;
}

.menus {
    display: grid;
    place-items: center;
    margin-top: 10px;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #F3EE18; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 200px;
  }
  header {
    background-color: black;
  }

  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

/* body {
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
	background-color: #f1f3fb;
	padding: 0 2rem;
} */

.fimg {
	max-width: 100%;
	display: block;
}

/* 
// iOS Reset 
input {
	appearance: none;
	border-radius: 0;
} */

 .card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}

.card-image {
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 2%;
	 /* background-image: {KRT_KITCHEN};  */
	 background-repeat: no-repeat;
	background-size: 150%;
	background-position: 0 5%;
	position: relative; 
}

.card-heading {
	position: absolute;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	small {
		display: block;
		font-size: .75em;
		font-weight: 400;
		margin-top: .25em;
	}
}

.card-form {
	padding: 2rem 1rem 0;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: black;
		&+.input-label {
			color: black;
			transform: translateY(-1.5rem);
		}
	}
}

.action {
	margin-top: 2rem;
}

.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: black;
	border-radius: 6px;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
	}
}

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
	a {
		display: block;
		color: #6658d3;
		text-decoration: none;
	}
}

.reviewcard{
    border: yellow;
    border-style: dotted;
}


  

  .happyhour {
    display: "inline-block";
    width: "100px";
    padding: "12px";
    margin: "0 6px 6px";
    background: #F3EE18;
    textDecoration: "none";
    color: "black",
  }

  .restaurantFront {
	border: grey solid;
	margin: 0 600px 6px;
	border-radius: 45px;
    padding: 1rem 1rem;
	background-color: #1E1B1B;

  }
  .restaurantBack {
    border: dotted yellow;
    background-color: #1E1B1B;
	margin: .5 600px 6px;
    

  }

  .inforg {
	color: black;
	font-size: 8rem;
  }
  .rbutton{
	display: inline-block;
	width: 100px;
	padding: 9px;
	margin: 0 6px 6px;
	background: #F3EE18;
	textDecoration: none;
	color: black;
  }

  .rcard-title{
	color:#F3EE18;
  }

  .rcontainer{
	border: grey solid;
	margin: 0 650px 6px;
	border-radius: 45px;
    padding: 1rem 1rem;
	background-color: #1E1B1B;
	
	

  }

  /* .rstuff{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	

  } */
  
  .maps {
    margin: 0 300px 6px;

  }

  .lbar {
    color: black;
    border-bottom: solid;
  }